body
{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(239 239 239);
}

/* start navbar */
ul.navbar-nav li a, ul.navbar-nav li button
{
    font-size: 18px;
    padding: 15px 20px !important;
}

ul.navbar-nav li a.active
{
    border-bottom: 1px solid grey;
}

.navbar .navbar-nav .nav-item button
{
    border: 0px;
    background-color: transparent;
}
/* end navbar */

div.form-response
{
    margin-top: .25rem;
    font-size: 12px;
    color: red;
}

.input-required
{
    color: red;
}