div.login-container
{
    /* margin-top: 160px !important; */
    width: 400px;
    margin: auto;
}

div.brand-logo img
{
    height: auto;
    width: 100%;
    padding: 40px 130px;
}

div.login-container div.card
{
    padding: 30px 22px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

div.login-container a
{
    text-decoration: none;
}

.forgot-password, .check-account
{
    font-size: 13px;
}